/*
.navbar-brand:before {
  content: "";
  display: block;
  position: relative;
  top: -195%;
  left: -25%;
  height: 219%;
  width: 200%;
  background: #224596;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  transform: rotateZ(-6deg) skew(-6deg);
}

.navbar-brand .navbar-heading {
  position: absolute;
  top: 4vmax;
  left: 2vmax;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 7em;
  font-family: "Lobster", cursive;
  transform: rotateZ(-6deg);
  text-shadow: 2px 2px 0px #224596, 4px 4px 0px #224596, 6px 6px 0px #e5e5e5, 8px 8px 0px #e5e5e5, 10px 10px 0px #ab995e;
}
*/
/*ala*/
.header_menu{
    background-color: transparent;
  }
  /*ala*/
  nav {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center !important;
  }