/*
.navbar-brand:before {
  content: "";
  display: block;
  position: relative;
  top: -195%;
  left: -25%;
  height: 219%;
  width: 200%;
  background: #224596;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  transform: rotateZ(-6deg) skew(-6deg);
}

.navbar-brand .navbar-heading {
  position: absolute;
  top: 4vmax;
  left: 2vmax;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 7em;
  font-family: "Lobster", cursive;
  transform: rotateZ(-6deg);
  text-shadow: 2px 2px 0px #224596, 4px 4px 0px #224596, 6px 6px 0px #e5e5e5, 8px 8px 0px #e5e5e5, 10px 10px 0px #ab995e;
}
*/
/*ala*/
#navbar_top {
  background-color: transparent !important;
  position: absolute;
  z-index: 999;
  overflow: hidden;
}
.header_menu{
    background-color: transparent;
    position: absolute;
    z-index: 99;
  }
  /*ala*/
  nav {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: center !important;
    padding: 23px;
  }
  #main_nav{
    float: right;
    padding-left: 100%;
  }
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar ul li {
    float: left;
    display: block;
    transition-duration: 0.5s;
    border-radius: 50px;
    font-size: 22px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .navbar ul li:hover {
    cursor: pointer;
    background-color: #233657;
  }
  
  .navbar ul li:hover > a {
    color: #ffffff;
  }
  a.nav-link {
    color: #ffffff !important;
    font-weight: 700;
}
footer {
  display: grid;
  grid-gap: 5px;
  padding:0px;
  background-color: #ffffff;
  color: #233657 !important;
  bottom: 0;
  width: 100%;
  /* margin-top: 40px; */
}
.info {
  padding-left: 57px;
  padding-top: 14px;
  color: #233657;
}
.row{
  width: inherit;
}
.footer_text-f{
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0px;
<<<<<<< HEAD
=======
}
.footer-section-inner-container {
  margin: 15px 0;
  padding: 25px;
  width: 100%;
  background-color: #333385e0;
  text-align: justify;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
border-radius: 25px;
box-shadow:  1px 1px 10px 0px #000000ab;}
.footer-section h2{
  color: #33338c;
}
.footer-section-inner-container > span {
  margin: 10px 0;
  display: -webkit-inline-box;
}
p {
  margin-top: 0;
  padding-left: 4%;
  margin-bottom: 1rem;
}
.cord{
  padding-top: 100px;
}
.content p{
color: #33338c;
}
hr{
  background-color: #33338c;
  height: 1px;
}
.footer-section2{
  padding-top: 75px;
>>>>>>> 355443cbc91d48edb38aa49c1cf3f1db3b3f73d2
}