@import url("https://fonts.googleapis.com/css?family=poppins");

body{
  background: radial-gradient( #31415E 100%, #233657 88%)!important;
}
.h1, h1 {
  font-size: 4rem !important;
}

.h3, h3{
  font-size: 2rem !important;
}
.h5, h5{
  font-size: 2rem !important;
  color: #33338C;
}
.info {
  margin-bottom: 20px;
}
.icon_pin {
  color: red;
}
.icon_mobile{
  color: blue;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.button {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border:1px solid #ea5b16 ;
  cursor:pointer;
  overflow: hidden; 
  border-radius: 30px;       
}
.button_hcarou {     
    background-color: #ea5b16;
    background-repeat: no-repeat;
    border: 0px solid #ea5b16;
    cursor: pointer;
    overflow: hidden;
    border-radius: 90px;
    outline: none !important;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;  
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
  color: white;
<<<<<<< HEAD

 /* border-radius: 30px;*/
=======
  border-radius: 30px;
>>>>>>> 348388840e170f54ef86a8392d81d15e22044989
}
.admin-login-info {
  display: flex;
}
td{color:#000;}
.carousel-content {
  position: absolute;
  font-family: poppins;
  font-weight: bold;
  bottom: 25%;
  left: 17%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-size: 6em;
}
/* Header Styling */

#home-section-2,
#home-section-3 {
  margin: 100px 0;
}

header {
  z-index: 1000;
}

.navbar-menu li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  background-color: #b6b6b6;
}

.navbar-menu li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px 36px;
  text-decoration: none;
}


/* Footer Styling */
footer {
  display: grid;
  grid-gap: 5px;
  padding: 10px 10%;
  background-color: #184c96;
  color: #fff;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.footer-brand {
    overflow: hidden;
  }
  
  .footer-brand:before {
    content: "";
    display: block;
    position: relative;
    background: #aa964c;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
  
  .footer-brand .footer-heading {
    position: relative;
    top: 1vmax;
    left: 1vmax;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 7em;
    font-family: "Lobster", cursive;
    text-shadow: 2px 2px 0px #6e5a11, 4px 4px 0px #1c4996, 6px 6px 0px #1c4996, 8px 8px 0px #ffffff, 10px 10px 0px #ab995e;
  }
  
.footer-section {
  text-align: left;
  padding: 20px;
  width: 100%;
}

.footer-section1 {
  grid-row: 1;
}

.footer-section2 {
  grid-column: 2 / span 2;
}

.footer-section3 {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.footer-section3 > * {
  display: inline;
}

.footer-section3 > a {
  float: right;
  padding: 0 20px;
}

.footer-section3 > p {
  float: left;
}

.footer-section-inner-container {
  margin: 15px 0;
  padding: 25px;
  width: 100%;
  background-color: #c1c1c136;
  text-align: justify;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.footer-section-inner-container > span {
  margin: 10px 0;
}

/* Movie Section Styling */

.movie-show-container {
  background-color: #fff;
  margin: 75px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: #233657 1px 1px 8px 2px;
}

.movie-show-container > h1 {
  color: #233657;
  text-align: left;
  padding: 0 0 10px 0;
}

.movie-show-container > h3 {
  color: #969696;
  text-align: left;
  padding: 0 0 10px 0;
}

.movie-show-container > h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 7%;
  background: #6e5a11;
  position: relative;
  bottom: -10px;
}

.movies-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px 0;
}

.movie-box {
  position: relative;
  margin: 10px 0;
  border-radius: 30px;
  box-shadow: -7px 6px 36px 4px rgba(0, 0, 0, 0.2);
}

.movie-box img {
  display: block;
  height: 100%;
  width: 100%;
}

.movie-box .movie-info {
  padding: 50% 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(0, 0, 0);
}

.movie-box:hover .movie-info {
  opacity: 0.8;
}

.movie-info > h3 {
  padding: 10px 0;
  color: #fff;
}

.movie-info > a {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.13em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.movie-info > a:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Trailers Section */

.trailers-section > h1,
.trailers-section > h3 {
  padding: 0 10%;
}

.trailers-section > h1 {
  text-align: left;
  color: #6e5a11;
}

.trailers-section > h3 {
  text-align: left;
  color: #969696;
}

.trailers-section > h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 7%;
  background: #6e5a11;
  position: relative;
  bottom: -10px;
}

.trailers-grid {
  margin: 60px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 80vh;
}

.trailers-grid-item {
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
}

.trailer-item-video {
  width: 100%;
  height: 100%;
}

.trailers-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.trailer-item-info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
  vertical-align: middle;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(0, 0, 0);
  padding: 85px 0;
}

.trailer-item-info:hover {
  opacity: 0.8;
}

.trailer-item-info h3 {
  vertical-align: middle;
  color: rgb(255, 255, 255);
}

.trailer-item-info i {
  margin: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease;
}

.trailer-item-info i:hover {
}

/* Services Section Styling */

.services-section {
  margin: 75px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: #233657 1px 1px 8px 2px;
}
.services-section > h1 {
  color: #233657;
  text-align: left;
  padding: 0 0 10px 0;
}

.services-section > h3 {
  color: #969696;
  text-align: left;
  padding: 0 0 20px 0;
}

.services-section > h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 7%;
  background: #6e5a11;
  position: relative;
  bottom: -10px;
}

.services-container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 4%;
}

.service-item > h2 {
  color: #233657;
  padding: 25px 0;
}

.service-item-icon i {
  font-size: 40px;
  color: white;
  height: 120px;
  width: 120px;
  background-color: rgb(199 199 199);
  border-radius: 50%;
  border: #233657 12px solid;
  line-height: 90px;
  transition: all 0.5s ease;
}

.service-item-icon i:hover {
  background-color: #c7c7c7;
  color: rgb(126, 126, 126);
}

/* Booking Panel */

.booking-panel {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 3fr;
  background-color: transparent;
  padding: 0px;
  -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
  transition: all 0.7s ease;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}


.booking-panel-section1 {
}

.booking-panel-section2 {
}

.booking-panel-section2 > i {
  background-color: #b6b6b6;
  color: #fff;
  padding: 15px;
  float: right;
  cursor: pointer;
  transition: all 0.5s ease;
}

.booking-panel-section2 > i:hover {
  color: rgb(139, 139, 139);
}

.booking-panel-section3 > .movie-box {
  border-radius: 10px;
  overflow: hidden;
}

.booking-panel-section3 img {
  max-width: 100%;
}

.booking-panel-section3 > .movie-box {
  margin: 0;
}

.booking-panel-section4 {
  border-radius: 10px;
  border: 1px #6e5a11 solid;
  background-color: #fff;
}

.booking-panel-section4 > .title {
  border-bottom: #969696 1px solid;
  color: #6e5a11;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  font-size: 24pt;
  padding: 35px 35px 20px 35px;
  font-weight: bold;
  background-color: #33338c;
  border-radius: 2;
}

.movie-information > table {
  padding: 0 35px 0 35px;
}

.movie-information td {
  padding: 8px 25px 8px 0;
  text-align: left;
  color: #969696;
}

.movie-information table tr td:first-child {
  color: #585858;
  font-weight: bold;
}

.booking-form-container {
  background-color: fff;
  background-image: linear-gradient(#ffffff, #ffffff, #f2f2ff);
  width: 100%;
  padding: 25px;
  margin: 20px 0;
  border-radius: 25px;
}

.booking-form-container form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.booking-form-container form button {
  border-radius: 16px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  float: right;
  width: 25%;
  text-align: center;
  background-color: #233657;
  color: #fff;
  transition: all 0.7s ease;
  cursor: pointer;
  height: 42px;
}

.booking-form-container form button:hover {
  background-color: #b6b6b6;
}

.booking-form-container form select {
  padding: 10px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  background: #fff url("#") no-repeat calc(100% - 10px) 50%;
  /* custom arrow set as a background */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMTUgOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjODk4OTg5IMKgIiBkPSJNMS4wMywwLjE3NWMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMGMtMC4yMzUsMC4yMzItMC4yMzYsMC42MSwwLDAuODQybDYuODk3LDYuODA5ICAgIGMwLjIzNiwwLjIzMywwLjYxOCwwLjIzMywwLjg1NCwwbDYuODk3LTYuODA5YzAuMjM2LTAuMjMzLDAuMjM2LTAuNjEsMC0wLjg0MmMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMEw3LjUsNi4zODQgICAgTDEuMDMsMC4xNzV6Ii8+ICA8L3N2Zz4=);
  box-sizing: border-box;
  border: solid 2px #cbcbcb;
  border-radius: 16px;
  outline: none;
  cursor: pointer;
  color: #337;
  box-shadow: 0px 0px 1px 1px;
  text-indent: 0.01px;
  text-overflow: "";
  width: 23%;
  height: 42px;
  margin: 5px 0;
}
.booking-form-container form input {
  border-radius: 16px;
  border: 1px solid #233657;
  padding: 10px;
  width: 31%;
  box-shadow: 0px 0px 0.3px 1px;
  height: 42px;
  margin: 5px 0;
}

/* Schedule Styling */

.schedule-section {
  width: 80%;
  margin: 0 auto;
}

.schedule-section > h1 {
  width: 30%;
  margin: 0 0 40px 0;
  border-bottom: 2px double #233657;
  color: #33338c;
}

.schedule-dates {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.schedule-item {
  border-width: 10px;
  border-color: #33338c;
  font-family: poppins;
  padding: 15px;
  background-color: #fff;
  margin-right: 20px;
  color: #33338c;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 5px 1px;
  border-radius: 25px;
}

.schedule-item:hover {
  background-color: #fff;
  color: #33338c;
  border: 1px solid #33338c;
  border-radius: 25px;
}

.schedule-item-selected {
  color: #fff;
  background-color: #33338c;
  cursor: auto;
  box-shadow: 0px 0px 5px 1px;
}

.schedule-table table {
  background-color: white;
  text-align: left;
    border-collapse: collapse;
    border-radius: 25px;
    box-shadow: 1px 1px 8px 0px;
}

.schedule-table table tr th {
  padding: 10px 0 10px 40px;
  background-color: #33338c;
  border: 3px solid #fff;
  border-radius: 0px 25px 0px 0px;
  color: #fff;
}

.schedule-table table tr th:first-child {
  width: 35%;
  border-right: 1px solid #fff;
  border-radius: 25px 0px 0px 0px;
}

.schedule-table table tr td {
  padding: 40px;
  border: 1px solid #bdbdbd;
}

.schedule-table table tr td > h2 {
  margin: 0 0 15px 0px;
}

.schedule-table table tr td > h3 {
  margin: 15px 0px;
}

.schedule-table table tr td > p {
  margin: 0 0 15px 0px;
}

.schedule-table table tr td > i {
  margin: 0 10px;
}

.schedule-table table tr td > .schedule-item {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.hall-type > h3 {
  margin: 15px 0;
}

.hall-type > div {
  display: flex;
  justify-content: left;
}

.hall-type > div .schedule-item {
  cursor: auto;
}

/* Contact Us Styling */

#gmap_canvas {
  width: 100%;
  height: 800px;
  width: 420px;
}

.contact-us-container {
  display: grid;
  grid-gap: 25px;
  grid-template-areas: "contact-form contact-form contact-info";
  padding: 100px;
}

.contact-us-section {
  overflow: hidden;
}

.contact-us-section h1 {
  width: 20%;
  border-bottom: #33338c solid 3px;
  margin-bottom: 25px;
}

.contact-us-section1 {
  grid-area: contact-form;
  background: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 1px 1px 9px 1px;
}

.contact-us-section1 form * {
  padding: 10px;
  margin: 10px 0;
}

.contact-us-section1 form *:not(button) {
  width: 90%;
  border-bottom: 3px solid #33338c;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 5px;
}

.contact-us-section1 form button {
  background-color: #33338c;
  color: #fff;
  border: 1px solid #33338c;
  border-radius: 25px;
}

.contact-us-section2 {
  grid-area: contact-info;
  background: #fff;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 1px 1px 9px 1px;
}

.contact-us-section2 h3 {
  color: black;
  border-bottom: #33338c solid 2px;
  padding: 10px 0;
  margin-bottom: 10px;
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
img.float-left {
  width: 90px;
  
}
  .col-sm {
    display: table-cell;
    
}
.desc  h3 {
  text-align: center;

}
.desc.col-sm {
  padding-left: 30px;
}
.desc  h3 {
  color: #33338c;
}
.desc  h1 {
  color: #F19A3E;
}
.col-sm.border {
  background-color: white;
  box-shadow: 1px 1px 7px 0px rgb(0 0 0 / 28%);
  display: inline-table;
}
table#dataTable{
  background-color: white;
}

.admin-section-header {
  color: #fff;
  width: 100%;
  grid-template-columns: 1fr 5fr;
}
.image{
  padding: 20px;
  background-color: #233657;
  border-radius: 90px;
}
.border {
  border: 1px solid #dee2e6!important;
  border-radius: 25px;
  padding: 15px;
  margin: 30px;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
.sidebar .nav-link.active {
  color: #007bff;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
/* Admin Panel Styling */

.admin-dropdown {
  float: right;
  font-style: normal;
  margin-left: 3px;
  font-size: 13px;
  position: absolute;
  right: 15px;
  top: 25px;
  margin: 0;
}


.admin-login-info a{
  color:#33338c
}
.admin-login-info i {
  margin: 0 10px;
  cursor: pointer;
}

.admin-login-info img {
  margin-left: 10px;
}

.admin-notifications {
  padding: 10px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #3a3a3a;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.52);
  position: fixed;
  z-index: 10000;
  top: 75px;
  right: 10px;
  transition: all 0.5s ease;
}

.admin-notifications > h4 {
  padding: 0 10px;
}

.admin-notification {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 10px 10px;
  background-color: #3a3a3a;
}

.admin-notification:hover {
  background-color: #4b4b4b;
}

.admin-notification .notification-img {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.notification-img img {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.admin-notification h4 {
  grid-column: 2;
  grid-row: 1;
}

.admin-notification p {
  grid-column: 2;
  grid-row: 2;
}

.admin-logo {
  padding: 20px 10px;
  background-color: #5f5f5f;
}

.admin-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.admin-section1 {
  background-color: #33338c;
}


.admin-section1 ul li:hover {
  background-color: #F19A3E;
  color: #fff;
  border-left: #fff 3px solid;
}

.admin-section1 ul li {
  width: 100%;
  padding: 20px 10px;
  color: #fff;
  background: rgb(0,0,0,0);
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.admin-section1 ul ul li {
  background-color: #4e4e4e;
  margin-bottom: 1px;
}

.admin-section1 ul li i {
  margin-right: 20px;
}

.admin-section2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.admin-section-column {
  flex: 100%;
  max-width: 100%;
  padding: 0 30px;
}

#div_login {
  width: 60%;
  background: #233657;
  border-radius: 25px;
  box-shadow: 0px 2px 6px 3px grey;
  margin: 0 auto;
}
#div_login h1{
  text-align: center;
  font-family: poppins;
  color: white;
}
.textbox{
    background: rgb(0,0,0,0);
    border-bottom: 2px solid #fff;
    margin-bottom: 3%;
    border-top: 0px;
    border-right: 0;
    border-left: 0;
    padding-top: 5px;

}
.field{
  padding-left: 42%;

}
.desc.col-sm {
  padding-left: 30px;
  display: inline-block;
}
.admin-section-panel2 form input {
  border-radius: 30px;
  border: 1px solid #6e6e6e;
  padding: 10px;
  width: 23%;
  height: 42px;
  margin: 8px 5px;
}
#but_submit {
  border-radius: 20px;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  margin-top: 5%;
  padding-bottom: 1%;
  background: #F19A3E;
  color: white;
  border: 3px solid #f19a3e;
}
input.btn.btn-outline-warning {
  background: white;
  border-radius: 25px;
  color: #F19A3E;
  border: 1px solid #F19A3E;
  padding: 12px;
  padding-right: 25px;
  padding-left: 25px;
}
.admin-section1 ul li {
  width: 100%;
  padding: 20px 10px;
  background-color: #3a3a3a;
  color: #fff;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.table-title h2{
  color: #33338c;
  margin-bottom: 10px;
  border-bottom: 2px solid #F19A3E;
}
button.btn {
  color: #F19A3E;
  background: #fff;
}
button.btn:hover {
color: #fff;
background: #F19A3E;
}
button.form-btn {
  border-radius: 25px;
  border: none;
  padding: 10px;
  margin: 10px 32px;
  width: 30%;
  text-align: center;
  background-color: #33338c;
  cursor: pointer;
  height: 42px;
  color: #F19A3E;
}
.table-responsive {
  display: block;
  overflow: hidden;
  box-shadow: 1px 1px 9px 0px rgb(0 0 0 / 40%);
  border-radius: 25px;
  padding: 12px;
  margin: 12px;
}
.btn {
  cursor: pointer;
  border: 1px solid #F19A3E;
  border-radius: 25px;
  padding: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 6px;
}
.admin-section-panel {
  vertical-align: middle;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 40%);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 40%);
  padding: 20px 20px 20px 20px;
  margin: 0px 94px 94px 94px;
}

.admin-panel-section-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0px;
  border-bottom: #F19A3E 1px solid;
  margin-bottom: 15px;
}

.admin-panel-section-header > h2 {
  color: #6e6e6e;
}

.admin-panel-section-header > i {
  text-align: center;
  font-size: 30px;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 10%;
  line-height: 60px;
  transition: all 0.5s ease;
  margin-left: auto;
  cursor: pointer;
}

.admin-section-panel:hover .admin-panel-section-header > i {
  border-radius: 50%;
}

.admin-section-stats {
  display: flex;
  padding: 20px 0;
}

.admin-section-stats-panel {
  flex: 25%;
  max-width: 25%;
  text-align: center;
  border-right: #bdbdbd 1px solid;
}

.admin-section-stats-panel > i {
  font-size: 30px;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  line-height: 60px;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.admin-panel-section-booking-item {
  background-color: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: #969696 1px solid;
  margin: 10px 0;
  overflow: hidden;
  display: flex;
  transition: all 0.6s ease;
}

.admin-panel-section-booking-item:hover {
  background-color: #d3d3d3;
}

.no-annot {
  text-align: center;
  padding: 10px 0;
}

.admin-panel-section-booking-response i {
  font-size: 25px;
  height: 50px;
  width: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.admin-panel-section-booking-response .accept-booking {
  background-color: #1b9b4c;
}

.admin-panel-section-booking-response .decline-booking {
  background-color: #dc143c;
}

.admin-panel-section-booking-info {
  margin: 10px 10px;
  display: flex;
  flex: 100%;
  flex-direction: column;
  justify-content: center;
}

.admin-panel-section-booking-info div:first-child {
  border-bottom: #d3d3d3 1px solid;
}

.admin-panel-section-booking-info > div {
  height: 100%;
  display: flex;
}

.admin-panel-section-booking-info > div > * {
  display: inline-block;
  margin: auto 5px;
}

.admin-panel-section-booking-info > div .fa-circle {
  font-size: 8px;
}

.admin-section-panel2 form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: left;
}

.admin-section-panel2 form input {
  border-radius: 4px;
  border: 1px solid #6e6e6e;
  padding: 10px;
  width: 32%;
  height: 42px;
  margin: 8px 5px;
}

.admin-section-panel2 form input[type="file"] {
  width: 59%;
  padding: 0;
}
.admin-section-panel.admin-section-panel2 {
  margin-top: 20px;
}
.btn btn-danger a {
  color: #f19a3e;
}
.admin-section-panel2 form button {
  border: none;
  padding: 10px;
  margin: 10px 32px;
  width: 49%;
  text-align: center;
  color: #fff;
  transition: all 0.7s ease;
  cursor: pointer;
  height: 42px;
}

.admin-section-panel2 form button:hover {
  background-color: #b6b6b6;
}

.admin-section-panel2 form label {
  border: none;
  margin-left: 0; 
  padding: 0px;
  font-size: 22px;
  width: 75%;
  text-align: center;
  color: #000;
}
/* Responsive Properties */

@media all and (max-width: 30em) {
  a.movie-book-btn {
    display: block;
    margin: 0.4em auto;
  }
}

/* Classes for JS */

.hidden-div {
  display: none;
  transition: all 0.7s ease;
}

.show {
  display: block;
  transition: all 0.7s ease;
}
